<section class="py-5">
    <div class="container px-5">
       
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Hot new</div>
                            <div class="h2 fw-bolder"><%= blog_hot.title %></div>
                            <p><%= blog_hot.content.split(' ').slice(0, 30).join(' ') + (blog_hot.content.split(' ').length > 100 ? '...' : '') %></p>
                            <a class="stretched-link text-decoration-none" href="#!">
                                Read more
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="bg-featured-blog"
                            style="background-image: url('<%= blog_hot.image %>')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-xl-8">
                <h2 class="fw-bolder fs-5 mb-4">News</h2>
                <% blogs.forEach(blog=> { %>
                        
                        
                    <!-- News item-->
                    <div class="mb-4">
                        <!-- <div class="small text-muted">May 12, 2023</div> -->
                        <a class="link-dark" href="/blogs/<%= blog._id %>">
                            <h3>
                                <%= blog.title %>
                            </h3>
                        </a>
                        <div>
                            <%= blog.content.split(' ').slice(0, 25).join(' ') + (blog.content.split(' ').length > 100 ? '...' : '') %>
                        </div>
                    </div>
                  

                    <% }) %>




                        <div class="text-end mb-5 mb-xl-0">
                            
                        </div>
                        <nav aria-label="...">

                            <ul class="pagination">
                              <li class="page-item  <%= currentPage === 1 ? 'disabled': '' %> ">
                                <a class="page-link" href="?page=<%= currentPage-1 %>" tabindex="-1">Previous</a>
                              </li>
                              <% 
                              // Giới hạn số trang hiển thị
                              let startPage = Math.max(currentPage - 2, 1); // Trang bắt đầu là 2 trang trước
                              let endPage = Math.min(currentPage + 2, totalPages); // Trang kết thúc là 2 trang sau
                          %>
                              
                             <% if(startPage > 1){ %> 
                                <li class="page-item ">
                                    <a class="page-link" href="?page=1">1</a>
                                  </li>
                                  <li class="page-item ">
                                    <a class="page-link">...</a>
                                  </li>
                                
                                <% } %>
                                <% for(let i = startPage ; i< endPage ;i++ ){ %> 
                              <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%=i%>"><%= i %></a>
                              </li>
                              <% } %>

                              <% if(startPage < totalPages){ %> 
                                <li class="page-item ">
                                    <a class="page-link" >...</a>
                                  </li>
                                  <li class="page-item ">
                                    <a href="?page=<%= totalPages  %>" class="page-link <%= currentPage === totalPages ? 'active': '' %> "><%= totalPages %></a>
                                  </li>
                                
                                <% } %>
                              
                              <li class="page-item">
                                <a href="?page=<%= currentPage+1 %>" class="page-link  <%= currentPage === totalPages ? 'disabled': '' %> "  href="#">Next</a>
                              </li>
                            </ul>
                          </nav>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 h-100">
                    <div class="card-body p-4">
                        <div class="d-flex h-100 align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">Contact</div>
                                <p class="text-muted mb-4">
                                    For press inquiries, email us at
                                    <br />
                                    <a href="#!">press@domain.com</a>
                                </p>
                                <div class="h6 fw-bolder">Follow us</div>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

